services:
  api:
    build:
      context: .
      dockerfile: Dockerfile
      target: builder  
    command: npm run start:dev 
    volumes:
      - .:/usr/src/app 
      - /usr/src/app/node_modules
    container_name: cinema_api
    restart: always
    ports:
      - "10000:10000"
    environment:
      - NODE_ENV=production
      - PORT=10000

      - DB_HOST=postgres_db
      - DB_PORT=5432
      - DB_USER=admin
      - DB_PASSWORD=admin
      - DB_NAME=cinema_db

      - RABBITMQ_URL=amqp://guest:guest@rabbitmq:5672
      - REDIS_HOST=redis
      - REDIS_PORT=6379
    depends_on:
      postgres_db:
        condition: service_started
      redis:
        condition: service_started
      rabbitmq:
        condition: service_healthy
    networks:
      - cinema-network

  postgres_db:
    image: postgres:15-alpine
    container_name: cinema_postgres
    restart: always
    environment:
      POSTGRES_USER: admin
      POSTGRES_PASSWORD: admin
      POSTGRES_DB: cinema_db
    ports:
      - "5432:5432"
    volumes:
      - pgdata:/var/lib/postgresql/data
    networks:
      - cinema-network

  redis:
    image: redis:alpine
    container_name: cinema_redis
    ports:
      - "6379:6379"
    networks:
      - cinema-network

  rabbitmq:
    image: rabbitmq:3.13-management
    container_name: cinema_rabbitmq
    ports:
      - "5672:5672"
      - "15672:15672"
    healthcheck:
      test: ["CMD", "rabbitmq-diagnostics", "-q", "ping"]
      interval: 5s
      timeout: 5s
      retries: 10
    networks:
      - cinema-network

networks:
  cinema-network:
    driver: bridge

volumes:
  pgdata:
